.product_list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
}

.product {
    border-radius: 10px;
    width: calc(33.33% - 10px);
    margin: 5px;
    height: 600px;
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.product_content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-title {
    padding-top: 16px;
    font-size: 22px;
    margin-bottom: 20px;
}
.product-desc {
    font-size: 18px;
    margin-bottom: 15px;
}
.product-features {
    font-size: 16px;
    margin-bottom: 15px;
}
.product-price {
    font-size: 20px;
    text-align: center;
}
.product-btn-wrap {
    display: flex;
    justify-content: center;
}

.product-image {
    height: 150px;
    width: 300px;
    text-align: center;
    margin-bottom: 20px;
    img {
        width: 180px;
        height: 75px;
        height: auto;
    }
}

.swiper {
    height: 170px;
}
